{% extends 'base/base.html' %}
{% load static %}
{% block 'title' %}Dashboard{% endblock %}
{% block 'body' %}
     <a href="{% url 'create_post' %}" class="btn btn-primary" style="margin:10px;float:right;">Create Post</a>
    <div class="container-fluid" style="padding-top:10px;padding-bottom:20px;">
        <table class="table col-md-12">
        <thead>
        <th>Image</th>
         <th>Title</th>
         <th>SKills</th>
         <th>Company Name</th>
        <th>Location</th>
        <th>Salary</th>
        <th>Published Date</th>
        <th>Expire Date</th>
        <th>Description</th>
        <th>Action</th>
        </thead>
        {% for i in job %}
    <tr>
       <td><img src = "{{i.image.url}}" style="height:80px;width:80px;"></td>
         <td>{{i.title}}</td>
         <td>{{i.skills}}</td>
         <td>{{i.company_name}}</td>
         <td>{{i.location}}</td>
         <td>{{i.salary}}</td>
         <td>{{i.publish_date}}</td>
         <td>{{i.expire_date}}</td>
         <td>{{i.description}}</td>
     <td><a href="{% url 'edit_post' i.id %}"><i class="fa fa-edit"></i></a> | <a href="{% url 'delete_post' i.id %}">
         <i class="fa fa-trash" style="color:red;"onclick=" return confirm('Are you sure you want to delete this record?')"></i></a> </td>
    </tr>
 {% endfor %}
</table>
    </div>
{% endblock %}